@page
@model RazorDotdle.Pages.InputPageModel
@{
    <head>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>

    <div id="MainContainer">
        <section id="MainGrid">
            <img id="dotdle-png" src="~/data/Dotdle.net.png" alt="Title PNG">
            <img id="left-square" src="~/data/Square.png" alt="Left Square">
            <img id="right-square" src="~/data/Square.png" alt="Right Square">
            <img id="leftB-square" src="~/data/Square.png" alt="LeftB Square">
            <img id="rightB-square" src="~/data/Square.png" alt="RightB Square">
        </section>
    
    </div>


    <h1>Guess the Word!</h1>
//    <p>The original word is: @Model.Word</p>
    <p>Description: @Model.Description</p>
    <hr />

    <form method="post" id="inputForm">
        <div>
            <input type="text" asp-for="InputModel.UserInput" class="input-field" maxlength="5" placeholder="Enter your word" />
        </div>
        <input type="hidden" asp-for="Word" />
        <input type="hidden" asp-for="Description" />
        <button type="submit" name="action" value="submit">Enter</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Input))
    {
        <div id="wordSubmitted">
            <section>
                @for (int i = 0; i < Model.Input.Length; i++)
                {
                    <span class="letter @Model.Results[i]">@Model.Input[i]</span>
                }
            </section>
        </div>
    }

    @if (Model.Next == true){
        <div id="newGameSection">
            <button type="button" id="newGameButton">New Game</button>
        </div>
    }

}

@section Scripts {
    <script>
        document.getElementById('newGameButton').addEventListener('click', function() {
            document.querySelector('.input-field').value = '';

            const form = document.getElementById('inputForm');
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'action';
            input.value = 'newgame';
            form.appendChild(input);
            form.submit();
        });
    </script>
}

<style>
    :root {
        --bg-color: #121213;
        --border-color: #3A3A3C;
        --white-color: #FFFFFF;
        --green-color: #6AAA64;
        --yellow-color: #B59F3B;
        --grey-color: #787C7E;
    }
    
    
    body {
        background-image: linear-gradient(180deg, #8BFF68, #04A409);
        font-family: 'Poppins';
        font-size: 22px;
        margin: 0;
    }

    h1, h2, p {
        color: var(--white-color);
    }

    div#MainContainer {
        display: grid;
        width: 100%;
        height: 85vh;
        background-color: #aaa;
    }

    section#MainGrid {
        background-color: #fff;
        width: 75%;
        height: 30rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        outline-style: solid;
        outline-color: #000000;
        outline-width: 0.7rem;
        position: relative;
    }


    img#dotdle-png {
        z-index: 99999;
        position: absolute;
        width: 75%;
        margin: auto;
        margin-top: -8px;
    }

    img#left-square {
        z-index: 99999;
        position: absolute;
        width: 35px;
        left: calc((-35px / 2) - 0.7rem / 2);
        top: -21px;
    }    
    
    img#right-square {
        z-index: 99999;
        position: absolute;
        width: 35px;
        right: calc((-35px / 2) - 0.7rem / 2);
        top: -21px;
    }    
    
    img#leftB-square {
        z-index: 99999;
        position: absolute;
        width: 35px;
        left: calc((-35px / 2) - 0.7rem / 2);
        bottom: -21px;
    }    
    
    img#rightB-square {
        z-index: 99999;
        position: absolute;
        width: 35px;
        right: calc((-35px / 2) - 0.7rem / 2);
        bottom: -21px;
    }

    #inputForm {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
    }

    button {
        border-radius: 0.5rem;
        background-color: #526E48;
        color: #fff;
        border-color: #3A3A3C;
    }

    div#newGameSection {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        width: -webkit-fill-available;
        align-items: center;
    }

    button#newGameButton {
        width: 8rem;
    }

    input#InputModel_UserInput {
        width: auto;
        height: 2rem;
        text-align: center;
        font-size: large;
        font-style: normal;
    }

    div#wordSubmitted {
        background-color: #424242;
        height: auto;
        border-radius: 15px;
        border-style: solid;
        border-width: medium;
        border-color: var(--border-color);
        width: fit-content;
        font-size: 3rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

        div#wordSubmitted span {
            font-family: system-ui;
            text-transform: uppercase;
            padding-left: 1rem;
            border-style: solid;
            color: var(--white-color);
            border-width: medium;
            border-radius: 1rem;
            border-color: var(--border-color);
            padding-right: 1rem;
            display: inline;
            font-weight: bold;
        }


    .verde {
        background-color: var(--green-color);
    }

    .amarillo {
        background-color: var(--yellow-color);
    }

    .gris {
        background-color: var(--grey-color);
    }

</style>